<div class="city-detail">
    <h2 class="city-detail-header">
        <div class="city-detail-header-default">Tweets</div>
        <div class="city-detail-header-heading">&nbsp;</div>
        <div class="city-detail-header-half-1"></div>
        <div class="city-detail-header-half-2"></div>
        <div class="city-detail-header-third-1">Jetzt</div>
        <div class="city-detail-header-third-2">Heute</div>
        <div class="city-detail-header-third-3">Gesamt</div>
    </h2>
    <div class="city-detail-content city-detail-content-tweets"></div>
    <div class="city-detail-content city-detail-content-jabber">
        <div class="city-detail-content-jabber-now"></div>
        <div class="city-detail-content-jabber-day"></div>
    </div>
    <div class="city-detail-content city-detail-content-lastfm">
        <div class="city-detail-content-lastfm-artists"></div>
        <div class="city-detail-content-lastfm-albums"></div>
    </div>
    <div class="city-detail-content city-detail-content-coffee">
        <div class="city-detail-content-coffee-now"></div>
        <div class="city-detail-content-coffee-day"></div>
    </div>
</div>