<div class="ergoboard-container">
	<button class="ergoboard-button">Clear</button>
    <canvas class="ergoboard-canvas ergoboard-canvas__decay" width="0" height="0"> </canvas>
    <canvas class="ergoboard-canvas ergoboard-canvas__cached" width="0" height="0"> </canvas>
    <canvas class="ergoboard-canvas ergoboard-canvas__foreground" width="0" height="0"> </canvas>
	<canvas class="ergoboard-canvas ergoboard-canvas__buffer" width="0" height="0"> </canvas>
</div>