/*
 * This file has been created by Ergosign GmbH - All rights reserved - http://www.ergosign.de
 *
 *
 * This file and the code contained in it are subject to the agreed contractual terms and conditions,
 * in particular with regard to resale and publication.
 */

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing

/*
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Body reset

html {
    height: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: 0;
    }
}

body {
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: $color-black;
    background: $color-white;
    height: 100%;
    overflow: hidden;
    position: relative;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
    cursor: pointer;
}

// Images

img {
    vertical-align: middle;
}

// Hidden elements
.hidden {
    display: none !important;
}

// Center Text
.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.hidden-mobile {
    display: inline-block;
}

.visible-mobile {
    display: none;
}

*/
