/*
 * This file has been created by Ergosign GmbH - All rights reserved - http://www.ergosign.de
 *
 *
 * This file and the code contained in it are subject to the agreed contractual terms and conditions,
 * in particular with regard to resale and publication.
 */

@mixin clearfix(){
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}