/*
 * This file has been created by Ergosign GmbH - All rights reserved - http://www.ergosign.de
 *
 *
 * This file and the code contained in it are subject to the agreed contractual terms and conditions,
 * in particular with regard to resale and publication.
 */
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.center{
    text-align: center;
}
.margin-bottom-m{
    margin-bottom: 15px;
}
.margin-top-m{
    margin-top: 15px;
}
.hidden{
    display: none;
}
.padding-container{
    padding-left: 10px;
    padding-right: 10px;
}