<!doctype html>
<html>
<head>
	<script src="libs/jquery/dist/jquery.js"></script>
 	<script src='libs/resemblejs/resemble.js'></script>
    <script src='libs/moment/min/moment.min.js'></script>
    <script src="libs/Recorderjs/dist/recorder.js"></script>

    <script src="socket.io/socket.io.js"></script>

    <script src="js/ergosphere.min.js"> </script>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>ErgoSphere</title>
</head>
<body>
    <div class="main">
    {{> body  }}
    </div>
	<div id="screensaver">
		<div id="logo-container">
			<div class="blend-fix">
				<div class="bg-m blend edgeLoad-EDGE-65326228"></div>
				<div class="bg-m-border blend edgeLoad-EDGE-65326228"></div>
				<div class="bg-y blend edgeLoad-EDGE-65326228"></div>
				<div class="bg-y-border blend"></div>
				<div class="bg-c blend"></div>
				<div class="bg-c-border blend"></div>
			</div>
			<div class="bg-m blend edgeLoad-EDGE-65326228"></div>
			<div class="bg-m-border blend edgeLoad-EDGE-65326228"></div>
			<div class="bg-y blend edgeLoad-EDGE-65326228"></div>
			<div class="bg-y-border blend"></div>
			<div class="bg-c blend"></div>
			<div class="bg-c-border blend"></div>
			<div class="logo-text"></div>
		</div>
    </div>
</body>
</html>
